*.o
*.a
*.in
*.am
*.deps
INSTALL
Makefile
aclocal.m4
autom4te.cache/
book/Makefile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
fuegomain/Makefile
fuegomain/fuego
fuegotest/Makefile
fuegotest/fuego_test
go/Makefile
gouct/Makefile
gtpengine/Makefile
install-sh
misctests/Makefile
missing
regression/Makefile
simpleplayers/Makefile
smartgame/Makefile
stamp-h1
unittestmain/Makefile
.cproject
.project

